<h1 class="heading-1">Would you like to join <span class="font-bold"><%= @notebook.name %></span>?</h1>

<p>Put a preview of the notebook here</p>

<br/>

<%= form_with(model: @notebook, url: join_notebook_url, method: :post) do |form| %>
  <div>
    <!--    TODO: Fix the size of these buttons-->
    <%= form.submit 'Yes', class: 'primary-button' %>
    <%= link_to "No", notebooks_path, class: 'secondary-button' %>
  </div>
<% end %>
