<div>
  <%= javascript_tag do %>
    window.notebookName = "<%= @notebook.name %>";
    window.layerIds = [<%= @notebook.pages.first.layers.first.id %>]; // TODO: This isn't correct
  <% end %>
  <% content_for :for_head do -%>
    <%= javascript_include_tag "index", "data-turbo-track": "reload", defer: true %>
  <% end -%>
  <div id="root"></div>
</div>
