<div>
  <%= javascript_tag do %>
    window.notebookName = "<%= @notebook.name %>";
    window.isOwner = true; // TODO: set this based on whether user owns this notebook
  <% end %>
  <% content_for :for_head do -%>
    <%= javascript_include_tag "index", "data-turbo-track": "reload", defer: true %>
  <% end -%>
  <div id="root"></div>
</div>
